<nz-input-group nzSearch nzSize="large">
    <input type="text" nz-input placeholder="input search text" />
      <button nz-button nzType="primary" nzSize="large" nzSearch>查询</button>     
      <button nz-button nzType="primary" nzSize="large" (click)="AddCustomer()">增加</button>
      <button nz-popconfirm nzType="primary" [disabled]="setOfCheckedId.size === 0" nzPopconfirmTitle="Are you sure delete the selected customer(s)?" nzPopconfirmPlacement="topLeft" nz-button nzSize="large" (click)="DeleteCustomers()" [nzLoading]="loading" >删除</button>      
      </nz-input-group>
    <nz-table
      nzSize="small"
      nzShowSizeChanger
      [nzData]="listOfRandomUser"
      [nzFrontPagination]="false"
      [nzLoading]="loading"
      [nzTotal]="total"
      [nzPageSize]="pageSize"
      [nzPageIndex]="pageIndex"
      (nzQueryParams)="onQueryParamsChange($event)"
    >
      <thead>
        <tr>
          <th
          [nzSelections]="listOfSelection"
          [(nzChecked)]="checked"
          [nzIndeterminate]="indeterminate"
          (nzCheckedChange)="onAllChecked($event)"></th>      
          <th nzColumnKey="Name" [nzSortFn]="true">姓名</th>
          <th nzColumnKey="Gender" [nzFilters]="filterGender" [nzFilterFn]="true">性别</th>
          <th nzColumnKey="UserName" [nzSortFn]="true">用户名</th>
          <th nzColumnKey="Password" [nzSortFn]="true">密码</th>
          <th nzColumnKey="PhoneNumber" [nzSortFn]="true">电话</th>
          <th nzColumnKey="Email" [nzSortFn]="true">Email</th>
          <th nzColumnKey="ContactNote" [nzSortFn]="true">联系渠道</th>
          <th nzColumnKey="Remark" [nzSortFn]="true">备注</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of listOfRandomUser">
          <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
          <td>{{ data.name }}</td>
          <td>{{ data.gender }}</td>
          <td>{{ data.userName }}</td>
          <td>{{ data.password }}</td>
          <td>{{ data.phoneNumber }}</td>
          <td>{{ data.email }}</td>
          <td>{{ data.contactNote }}</td>
          <td>{{ data.remark }}</td>
          <td>
          <a (click)="ViewCustomer(data.id)">查看</a> |
          <a (click)="ModifyCustomer(data.id)">修改</a> |
          <a nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteRow(data.id)">删除</a>
          </td>
        </tr>
      </tbody>
    </nz-table>