
<nz-input-group nzSearch nzSize="large">
    <input type="text" nz-input placeholder="input search text" [(ngModel)]="searchKeyWord" />
      <button nz-button nzType="primary" nzSize="large" nzSearch (click)="SearchProduct()">查询</button>     
      <button nz-button nzType="primary" nzSize="large" (click)="AddProduct()">增加</button>
      <button nz-popconfirm nzType="primary" [disabled]="setOfCheckedId.size === 0" nzPopconfirmTitle="Are you sure delete the selected product(s)?" nzPopconfirmPlacement="topLeft" nz-button nzSize="large" (nzOnConfirm)="DeleteProducts()" [nzLoading]="loading" >删除</button>      
      </nz-input-group>
    <nz-table
      nzSize="small"
      nzShowSizeChanger
      [nzData]="listOfRandomProduct"
      [nzFrontPagination]="false"
      [nzLoading]="loading"
      [nzTotal]="total"
      [nzPageSize]="pageSize"
      [nzPageIndex]="pageIndex"
      (nzQueryParams)="onQueryParamsChange($event)"
    >
      <thead>
        <tr>
          <th
          [nzSelections]="listOfSelection"
          [(nzChecked)]="checked"
          [nzIndeterminate]="indeterminate"
          (nzCheckedChange)="onAllChecked($event)"></th>      
          <th nzColumnKey="Category" [nzSortFn]="true" [(nzSortOrder)]="CategorySortOrder">种类</th>
          <th nzColumnKey="ProductID">产品ID</th>
          <th nzColumnKey="Password">密码</th>
          <th nzColumnKey="SalePrice">销售价格</th>
          <th nzColumnKey="BasePrice">成本价格</th>
          <th nzColumnKey="MoneyType">币种</th>
          <th nzColumnKey="Remark">备注</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of listOfRandomProduct">
          <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
          <td>{{ data.category }}</td>
          <td>{{ data.productID }}</td>
          <td>{{ data.password }}</td>
          <td>{{ data.salePrice }}</td>
          <td>{{ data.basePrice }}</td>
          <td>{{ data.moneyType }}</td>
          <td>{{ data.remark }}</td>
          <td>
          <a (click)="ViewProduct(data.id)">查看</a> |
          <a (click)="ModifyProduct(data.id)">修改</a> |
          <a nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteRow(data.id)">删除</a>
          </td>
        </tr>
      </tbody>
    </nz-table>

