<h2><span>客户信息管理</span></h2><br>
    <form nz-form>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>姓名</nz-form-label>
      <nz-form-control [nzSpan]="15" nzHasFeedback style="word-wrap: break-word;word-break: break-all;overflow: hidden;">
      {{ customer.name }}
      </nz-form-control>
    </nz-form-item>    
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>用户名称</nz-form-label>
      <nz-form-control [nzSpan]="15" nzHasFeedback>
      {{ customer.userName }} 
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>密码</nz-form-label>
      <nz-form-control [nzSpan]="15" nzHasFeedback>
      {{ customer.password }}
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7">电话</nz-form-label>
      <nz-form-control [nzSpan]="15" nzHasFeedback >
      {{ customer.phoneNumber }}
      </nz-form-control>
    </nz-form-item>    
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Email</nz-form-label>
      <nz-form-control [nzSpan]="15" nzHasFeedback>
      {{ customer.email }}
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7">联系渠道</nz-form-label>
      <nz-form-control [nzSpan]="15">
      {{ customer.contactNote }}
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7">备注</nz-form-label>
      <nz-form-control [nzSpan]="15">
      {{ customer.remark }}
      </nz-form-control>
    </nz-form-item>    
    <nz-form-item>
      <nz-form-control [nzOffset]="7" [nzSpan]="15">
        <button nz-button nzType="primary" nzSize="large"(click)="Cancel()">Cancel</button>
      </nz-form-control>
    </nz-form-item>
  </form>