
<nz-input-group nzSearch nzSize="large">
    <input type="text" nz-input placeholder="input search text" [(ngModel)]="searchKeyWord" />
      <button nz-button nzType="primary" nzSize="large" nzSearch (click)="SearchSystemDictionary()">查询</button>     
      <button nz-button nzType="primary" nzSize="large" (click)="AddSystemDictionary()">增加</button>
      <button nz-popconfirm nzType="primary" [disabled]="setOfCheckedId.size === 0" nzPopconfirmTitle="Are you sure delete the selected systemdictionary(s)?" nzPopconfirmPlacement="topLeft" nz-button nzSize="large" (nzOnConfirm)="DeleteSystemDictionarys()" [nzLoading]="loading" >删除</button>      
      </nz-input-group>
    <nz-table
      nzSize="small"
      nzShowSizeChanger
      [nzData]="listOfRandomSystemDictionary"
      [nzFrontPagination]="false"
      [nzLoading]="loading"
      [nzTotal]="total"
      [nzPageSize]="pageSize"
      [nzPageIndex]="pageIndex"
      (nzQueryParams)="onQueryParamsChange($event)"
    >
      <thead>
        <tr>
          <th
          [nzSelections]="listOfSelection"
          [(nzChecked)]="checked"
          [nzIndeterminate]="indeterminate"
          (nzCheckedChange)="onAllChecked($event)"></th>      
          <th nzColumnKey="DicType" [nzSortFn]="true" [(nzSortOrder)]="DicTypeSortOrder">字典类型</th>
          <th nzColumnKey="DicName">字典名称</th>
          <th nzColumnKey="DicValue">字典内容</th>
          <th nzColumnKey="Remark">备注</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of listOfRandomSystemDictionary">
          <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
          <td>{{ data.dicType }}</td>
          <td>{{ data.dicName }}</td>
          <td>{{ data.dicValue }}</td>
          <td>{{ data.remark }}</td>
          <td>
          <a (click)="ViewSystemDictionary(data.id)">查看</a> |
          <a (click)="ModifySystemDictionary(data.id)">修改</a> |
          <a nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteRow(data.id)">删除</a>
          </td>
        </tr>
      </tbody>
    </nz-table>

