<h2><span>客户信息管理</span></h2><br>
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm(validateForm.value)">
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>姓名</nz-form-label>
      <nz-form-control [nzSpan]="15" nzHasFeedback nzErrorTip="请输入姓名!">
        <input nz-input formControlName="Name" [(ngModel)]="customer.name" />
      </nz-form-control>
    </nz-form-item>  
    <nz-form-item>
        <nz-form-label [nzSpan]="7">性别</nz-form-label>
        <nz-form-control [nzSpan]="15" nzHasFeedback nzErrorTip="请输入用户性别!">
          <input nz-input formControlName="Gender" [(ngModel)]="customer.gender" />
        </nz-form-control>
      </nz-form-item>      
    <nz-form-item>
      <nz-form-label [nzSpan]="7">用户名称</nz-form-label>
      <nz-form-control [nzSpan]="15" nzHasFeedback nzErrorTip="请输入用户名!">
        <input nz-input formControlName="UserName" [(ngModel)]="customer.userName" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7">密码</nz-form-label>
      <nz-form-control [nzSpan]="15" nzHasFeedback nzErrorTip="请输入密码!">
        <input nz-input formControlName="Password" [(ngModel)]="customer.password" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7">电话</nz-form-label>
      <nz-form-control [nzSpan]="15" nzHasFeedback nzErrorTip="请输入电话!">
        <input nz-input formControlName="PhoneNumber" [(ngModel)]="customer.phoneNumber" />
      </nz-form-control>
    </nz-form-item>    
    <nz-form-item>
      <nz-form-label [nzSpan]="7">Email</nz-form-label>
      <nz-form-control [nzSpan]="15" nzHasFeedback [nzErrorTip]="emailErrorTpl">
        <input nz-input formControlName="Email" placeholder="email" type="email" [(ngModel)]="customer.email" />
        <ng-template #emailErrorTpl let-control>
          <ng-container *ngIf="control.hasError('email')">
            The input is not valid E-mail!
          </ng-container>
          <ng-container *ngIf="control.hasError('required')">
            Please input your E-mail!
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7">联系渠道</nz-form-label>
      <nz-form-control [nzSpan]="15" nzErrorTip="Please write something here!">
        <textarea formControlName="ContactNote" nz-input rows="3" placeholder="请输入联系渠道！" [(ngModel)]="customer.contactNote"></textarea>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7">备注</nz-form-label>
      <nz-form-control [nzSpan]="15" nzErrorTip="Please write something here!">
        <textarea formControlName="Remark" nz-input rows="3" placeholder="请输入备注！" [(ngModel)]="customer.remark"></textarea>
      </nz-form-control>
    </nz-form-item>    
    <nz-form-item>
      <nz-form-control [nzOffset]="7" [nzSpan]="15">
        <button nz-button nzType="primary" nzSize="large" [disabled]="!validateForm.valid">Submit</button>
        <button type="button" nz-button nzSize="large" (click)="Cancel()">Cancel</button>
      </nz-form-control>
    </nz-form-item>
  </form>